/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Typography

******************************************************************/

/*********************
GOOGLE
*********************/

@import url('https://fonts.googleapis.com/css?family=Muli:400,800,900');


/*********************
FONT FACE
*********************/

// font stacks
$sans-serif:        'Muli', Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;

p {
  -ms-word-wrap: break-word;
  word-break: break-word; //non-standart css for webkit
  word-wrap: break-word;
}