/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Variables

******************************************************************/

/*********************
COLORS
Choosing your colors http://0to255.com/
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #000;
$white:             #fff;

$light-gray:        #eeeeee;
$gray:              #545959;
$meta-gray:         #ccc;
$text-color:        $gray;

$blue:				#0096a8;
$alt-blue:			#00bfb2;
$yellow:			#f7c400;
$green:				#0b6b4e;
$pale-green:		#bad3ca;
$orange:			#ed691c;
$alt-orange:        #f59c28;


$link-color:        $gray;
$link-hover:        $orange;

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;
