/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: IE Stylesheet

Import all the styles the standard stylesheet gets, only
without the media queries.

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
All the BASE styles are called already since IE can
read those. Below we import the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Variables

******************************************************************/
/*********************
COLORS
Choosing your colors http://0to255.com/
*********************/
/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Typography

******************************************************************/
/*********************
GOOGLE
*********************/
@import url("https://fonts.googleapis.com/css?family=Muli:400,800,900");
/*********************
FONT FACE
*********************/
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word; }

/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Mixins Stylesheet

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/* @include transition(all 0.2s ease-in-out); */
/*********************
CSS3 GRADIENTS
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/*********************
VENDOR
*********************/
/*
.selector {
  @include prefix(transform, rotate(45deg), webkit ms);
}
*/
/*********************
CSS ANIMATIONS
*********************/
/*
@include keyframes(move-the-object) {
  0%   { left: 100px; }
  100% { left: 200px; }
}
*/
/*********************
BOX SHADOW
*********************/
/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: IE Grid Styles

******************************************************************/
/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: 481px and Up Stylesheet

******************************************************************/
/*********************
GENERAL STYLES
*********************/
html {
  font-size: 81%; }

/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
.menu {
  /* end .menu ul */ }
  .menu ul {
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */ }

/* end .menu */
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left; }
.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right; }
.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
/* end .footer-links */
/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/
/*********************
GENERAL STYLES
*********************/
html {
  font-size: 80%; }

#content {
  padding-top: 114px; }

/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
  width: 760px; }

/*********************
HEADER STYLES
*********************/
.header:after, .header:before {
  content: '';
  display: block;
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
.header:after {
  left: -1px;
  bottom: -97px;
  width: 110px;
  height: 99px;
  background: url(../images/top-left-corner.png) no-repeat 0 0;
  background-size: contain;
  z-index: 10; }
.header:before {
  left: 109px;
  bottom: -58px;
  width: 100%;
  height: 60px;
  background: url(../images/shadow-bg.png) repeat 0 0;
  background-size: contain;
  z-index: 10; }

#logo {
  display: block;
  width: 180px;
  position: absolute;
  top: 1.3rem;
  left: 2rem;
  z-index: 10;
  font-size: 0;
  float: none;
  margin: 0; }
  #logo img {
    max-width: 100%;
    height: auto; }
  #logo a {
    color: #000; }

.social {
  position: absolute;
  right: 2rem;
  top: 2.7rem; }

/*********************
NAVIGATION STYLES
*********************/
.menu-button {
  display: none; }

.primary-nav {
  position: relative;
  max-height: none;
  overflow: visible; }

.nav {
  border: none;
  text-align: center;
  display: inline-block;
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */ }
  .nav > li {
    display: inline-block;
    position: relative;
    border: none;
    /* showing sub-menus 
    &:hover > ul {
    	top: auto;
    	max-height: 500px;
    }*/ }
    .nav > li > a:hover, .nav > li > a:focus {
      color: #ed691c; }
    .nav > li ul.sub-menu,
    .nav > li ul.children {
      display: block;
      position: absolute;
      left: 50%;
      top: 113px;
      overflow: hidden;
      background: #ed691c;
      margin: 0 0 0 -180px;
      padding: 0 20px;
      width: 360px;
      border-bottom-right-radius: 60px;
      /* highlight sub-menu current page */ }
      .nav > li ul.sub-menu li,
      .nav > li ul.children li {
        text-align: left;
        /*
        third level
        */ }
        .nav > li ul.sub-menu li a,
        .nav > li ul.children li a {
          color: #fff;
          border-bottom: 1px solid #fff; }
          .nav > li ul.sub-menu li a:hover, .nav > li ul.sub-menu li a:focus,
          .nav > li ul.children li a:hover,
          .nav > li ul.children li a:focus {
            text-decoration: underline;
            text-decoration-style: dotted; }
        .nav > li ul.sub-menu li:last-child a,
        .nav > li ul.children li:last-child a {
          border-bottom: 0; }
        .nav > li ul.sub-menu li ul,
        .nav > li ul.children li ul {
          top: 0;
          left: 100%; }
  .nav > li.current_page_item > a:after,
  .nav > li.current-menu-ancestor > a:after,
  .nav > li.current_page_ancestor > a:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 7px;
    background: #ed691c;
    left: 0;
    bottom: -1px;
    z-index: 10;
    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out; }

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
  margin-top: 2.2em; }

.widgettitle {
  border-bottom: 2px solid #444;
  margin-bottom: 0.75em; }

.widget {
  padding: 0 10px;
  margin: 2.2em 0; }
  .widget ul li {
    margin-bottom: 0.75em;
    /* deep nesting */ }
    .widget ul li ul {
      margin-top: 0.75em;
      padding-left: 1em; }

/*********************
FOOTER STYLES
*********************/
/* end .footer-links */
.copyright {
  margin: 0;
  text-align: left; }

/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Desktop Stylsheet

******************************************************************/
.wrap {
  width: 1020px; }

/******************************************************************
ADDITIONAL IE FIXES
For more info on using Modernizr classes:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example:

.no-textshadow .class { ... }

Can also target specific versions by using the classes applied to
the html element. Check header.php file to see what they are:

.lt-ie8 .class { ... }

*/
