/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: IE Stylesheet

Import all the styles the standard stylesheet gets, only
without the media queries.

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
All the BASE styles are called already since IE can
read those. Below we import the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Variables

******************************************************************/
/*********************
COLORS
Choosing your colors http://0to255.com/
*********************/
/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Typography

******************************************************************/
/*********************
GOOGLE
*********************/
@import url("https://fonts.googleapis.com/css?family=Muli:400,800,900");
/*********************
FONT FACE
*********************/
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word; }

/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Mixins Stylesheet

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/* @include transition(all 0.2s ease-in-out); */
/*********************
CSS3 GRADIENTS
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/*********************
VENDOR
*********************/
/*
.selector {
  @include prefix(transform, rotate(45deg), webkit ms);
}
*/
/*********************
CSS ANIMATIONS
*********************/
/*
@include keyframes(move-the-object) {
  0%   { left: 100px; }
  100% { left: 200px; }
}
*/
/*********************
BOX SHADOW
*********************/
/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: IE Grid Styles

******************************************************************/
/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: 481px and Up Stylesheet

******************************************************************/
/*********************
GENERAL STYLES
*********************/
html {
  font-size: 81%; }

.icon-list li {
  width: 50%; }

.circle-el ul li {
  font-size: 1rem !important; }

/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left; }
.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right; }
.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

/* end .entry-content */
/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/
/*********************
GENERAL STYLES
*********************/
html {
  font-size: 80%; }

#content {
  padding-top: 86px; }
  #content:before {
    content: '';
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  #content.sub-menu-active:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100; }

.row.blog-highlights .post-thumb {
  float: left;
  width: 25%; }
.row.blog-highlights .post-details {
  margin-top: 0;
  float: left;
  width: 75%;
  padding-left: 20px; }
.row .contact-us .col-8 {
  padding-right: 10px; }

.entry-content {
  padding: 4rem 3rem; }
  .entry-content blockquote {
    padding: 0 5rem 0 12rem; }
    .entry-content blockquote:before {
      width: 9rem;
      height: 9rem; }
    .entry-content blockquote p {
      font-size: 1.5rem; }
  .entry-content ul:not(.centered-list):not(.icon-list) .arrows li, .entry-content ol .arrows li {
    text-indent: -1.9rem;
    padding-left: 1.5rem; }

.page-title {
  top: 0;
  bottom: auto;
  padding: 5rem; }
  .page-title p {
    font-size: 2.8rem; }

.icon-list li {
  width: 33.33%;
  margin-bottom: 0; }
.icon-list.alt li {
  width: 50%;
  text-indent: -1.9rem;
  padding-left: 1.5rem; }
.icon-list.alt.copy li {
  text-indent: -1.9rem;
  padding-left: 1.5rem; }

.thumbs-list li {
  width: 50%; }
  .thumbs-list li:nth-child(odd) {
    padding-right: 10px; }
  .thumbs-list li:nth-child(even) {
    padding-left: 10px; }

.page-template-page-quiz h1 {
  font-size: 2.5rem; }
.page-template-page-quiz h2 {
  font-size: 2.35rem; }

.q-mark {
  width: 100px;
  margin: 0 auto 3rem; }

.quiz-end {
  background: #ed691c; }
  .quiz-end .social p {
    font-size: 1.75rem; }
  .quiz-end .social a {
    margin-left: 1rem; }

.outcomes {
  margin-bottom: 5rem; }

.circle-el ul {
  width: 90%; }
  .circle-el ul li {
    font-size: 1.4rem !important; }
.circle-el h2 {
  font-size: 4rem; }
.circle-el h3 {
  font-size: 2.5rem;
  margin: 2rem 0; }
.entry-content .circle-el p {
  margin: 0; }
.circle-el img {
  width: 6rem; }

.case-studies .case-study {
  margin-bottom: 2.5rem; }
.case-studies.featured {
  padding-bottom: 3rem; }
.case-studies .more {
  margin: 0 0 1rem; }
.case-studies .col-4 {
  width: 32.9%;
  float: none;
  display: inline-block;
  vertical-align: top; }

.cs-thumbs {
  margin-left: -20px;
  margin-right: -20px; }

.ribbon {
  margin: 3rem auto !important; }
  .ribbon .widget_text {
    left: 3rem;
    top: 3rem;
    width: 50%; }
    .ribbon .widget_text p, .ribbon .widget_text a {
      font-size: 3rem; }
    .ribbon .widget_text a:after {
      border-width: 0 6px 6px 0;
      padding: 11px; }

.quote.quote-xl p {
  font-size: 2rem; }

.filter-wrapper li {
  margin: 0 6px; }

.page-contact-us .top-row + .curved {
  border-bottom-right-radius: 60px; }

/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
  max-width: 760px; }

.single .wrap.post {
  max-width: 71%; }

/*********************
HEADER STYLES
*********************/
.header.sticky .primary-nav .menu-item a {
  font-size: 1rem;
  padding: 1.2rem 0.75em; }
.header.sticky .primary-nav .sub-menu {
  top: 44px; }
.header.sticky .social {
  top: 0.8rem; }
.header.sticky #logo {
  width: 26px;
  top: 0.45rem;
  background-size: 21px !important; }
  .header.sticky #logo img {
    opacity: 0;
    visibility: hidden; }
.header.sticky:before {
  left: 53px;
  bottom: -30px;
  height: 30px; }
.header.sticky:after {
  bottom: -49px;
  width: 60px;
  height: 49px; }
.header.sticky + #content {
  padding-top: 55px; }
.header:after, .header:before {
  content: '';
  display: block;
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
.header:after {
  left: -1px;
  bottom: -97px;
  width: 110px;
  height: 99px;
  background: url(../images/top-left-corner.png) no-repeat 0 0;
  background-size: contain;
  z-index: 10; }
.header:before {
  left: 109px;
  bottom: -58px;
  width: 100%;
  height: 60px;
  background: url(../images/shadow-bg.png) repeat 0 0;
  background-size: contain;
  z-index: 10; }

#logo {
  display: block;
  width: 130px;
  position: absolute;
  top: 1.3rem;
  left: 2rem;
  z-index: 10;
  font-size: 0;
  float: none;
  margin: 0;
  padding: 0;
  background-image: url(../images/product-chain-logo-alt.png);
  background-repeat: no-repeat;
  background-size: 33px !important; }
  #logo img {
    max-width: 100%;
    height: auto; }
  #logo a {
    color: #000; }

.social {
  position: absolute;
  right: 2rem;
  top: 2.7rem; }

/*********************
NAVIGATION STYLES
*********************/
.menu-button {
  display: none; }

.primary-nav {
  position: relative;
  max-height: none;
  overflow: visible;
  top: auto; }
  .primary-nav .social {
    text-align: left;
    padding: 0;
    background: none; }
    .primary-nav .social a i {
      background: #0096a8; }

.nav {
  border: none;
  text-align: center;
  display: inline-block;
  background: none;
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */ }
  .nav > li {
    display: inline-block;
    position: relative;
    border: none;
    /* showing sub-menus 
    &:hover > ul {
    	top: auto;
    	max-height: 500px;
    }*/ }
    .nav > li > a {
      padding: 2.9rem .75em;
      text-align: center; }
      .nav > li > a:hover, .nav > li > a:focus {
        color: #ed691c; }
      .nav > li > a:after {
        display: none; }
    .nav > li ul.sub-menu,
    .nav > li ul.children {
      display: block;
      position: absolute;
      left: 50%;
      top: 86px;
      overflow: hidden;
      background: #ed691c;
      margin: 0 0 0 -136px;
      padding: 0 20px;
      width: 278px;
      border-bottom-right-radius: 60px;
      /* highlight sub-menu current page */ }
      .nav > li ul.sub-menu.active,
      .nav > li ul.children.active {
        -webkit-box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.25); }
        .nav > li ul.sub-menu.active:before,
        .nav > li ul.children.active:before {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          left: 50%;
          top: 0;
          margin-left: -14px;
          border-left: 14px solid transparent;
          border-right: 14px solid transparent;
          border-top: 12px solid #fff; }
      .nav > li ul.sub-menu li,
      .nav > li ul.children li {
        text-align: left;
        border: none;
        /*
        third level
        */ }
        .nav > li ul.sub-menu li a,
        .nav > li ul.children li a {
          padding: 20px 0;
          font-size: 1.15rem;
          color: #fff;
          border-bottom: 1px solid #fff; }
          .nav > li ul.sub-menu li a:hover, .nav > li ul.sub-menu li a:focus,
          .nav > li ul.children li a:hover,
          .nav > li ul.children li a:focus {
            color: #545959; }
        .nav > li ul.sub-menu li.current_page_item a,
        .nav > li ul.children li.current_page_item a {
          color: #545959; }
        .nav > li ul.sub-menu li:last-child a,
        .nav > li ul.children li:last-child a {
          border-bottom: 0; }
        .nav > li ul.sub-menu li ul,
        .nav > li ul.children li ul {
          top: 0;
          left: 100%; }
  .nav > li.current_page_item > a:after,
  .nav > li.current-menu-ancestor > a:after,
  .nav > li.current-menu-item > a:after,
  .nav > li.current_page_ancestor > a:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 7px;
    background: #ed691c;
    left: 0;
    bottom: -1px;
    z-index: 10;
    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out; }
  .sub-menu-active .nav > li.current_page_item > a:after,
  .sub-menu-active .nav > li.current-menu-ancestor > a:after,
  .sub-menu-active .nav > li.current-menu-item > a:after,
  .sub-menu-active .nav > li.current_page_ancestor > a:after {
    content: '';
    display: none; }

/*********************
FOOTER STYLES
*********************/
.footer {
  padding: 2rem 4rem; }

.pre-footer {
  padding-top: 12rem;
  padding-bottom: 5rem; }

.footer-nav li a:after {
  display: none; }
.footer-nav > li.current_page_item > a,
.footer-nav > li.current-menu-ancestor > a,
.footer-nav > li.current-menu-item > a,
.footer-nav > li.current_page_ancestor > a {
  color: #ed691c; }

.copyright {
  float: left;
  font-size: 0.85rem;
  text-align: left; }

.contact-details {
  float: right;
  text-align: left;
  margin: 0; }

/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Desktop Stylsheet

******************************************************************/
h1, .h1 {
  font-size: 2.85rem; }

h2, .h2 {
  font-size: 2.15rem; }

h3, .h3 {
  font-size: 1.75rem; }

h4, .h4 {
  font-size: 1.7rem; }

h5, .h5 {
  font-size: 1.2rem; }

p {
  font-size: 1rem; }

#content {
  padding-top: 90px; }

.wrap {
  max-width: 1020px; }

.row {
  padding: 3rem 5rem; }
  .row h3 {
    font-size: 1.35rem; }

.pre-footer {
  padding: 12rem 5rem 5rem; }

#logo {
  width: 150px;
  background-size: 39px !important; }

.nav > li ul.sub-menu,
.nav > li ul.children {
  margin: 0 0 0 -180px;
  width: 360px;
  top: 90px; }

.case-studies .col-4 {
  width: 33%; }

.centered-list li {
  margin-bottom: 0; }

.quote.quote-xl p {
  font-size: 2.25rem; }

.circle-el h3 {
  font-size: 2.35rem; }
.circle-el img {
  width: 9rem; }

/******************************************************************
ADDITIONAL IE FIXES
For more info on using Modernizr classes:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example:

.no-textshadow .class { ... }

Can also target specific versions by using the classes applied to
the html element. Check header.php file to see what they are:

.lt-ie8 .class { ... }

*/
