.cta {
	position: relative;
	width: 40rem;
    margin: auto;
	@media only screen and (min-width: 768px) and (max-width: 1029px) {
		max-width: 50%;
		
		.primary-btn:after {
			padding: 5px;
		}
	}
}

.arrow {
	display: block;
}

.arrow1 {
	width: 240px;
    position: absolute;
    right: -270px;
    bottom: -10px;
	
	&.in-view {
		.st0 { animation: draw-line 800ms ease-out forwards; }
		.st1 { animation: opacity--in 100ms linear 700ms forwards; }
	}
	
	.st0 {
		stroke-dasharray: 400px;
		stroke-dashoffset: 400px;
	}
	
	.st1 {
		opacity: 0;
	}
}

.arrow2 {
	width: 220px;
    position: absolute;
    left: -240px;
    bottom: -20px;
	
	&.in-view {
		.st1 { animation: draw-line 800ms ease-out forwards; }
		.st0 { animation: opacity--in 100ms linear 700ms forwards; }
	}
	
	.st1 {
		stroke-dasharray: 200px;
		stroke-dashoffset: 200px;
	}
	
	.st0 {
		opacity: 0;
	}
}

.arrow3 {
	width: 240px;
    position: absolute;
    right: -270px;
    bottom: -20px;
	
	&.in-view {
		.st1 { animation: draw-line 800ms ease-out forwards; }
		.st0 { animation: opacity--in 100ms linear 700ms forwards; }
	}
	
	.st1 {
		stroke-dasharray: 210px;
		stroke-dashoffset: 210px;
	}
	
	.st0 {
		opacity: 0;
	}
}

.arrow4 {
	width: 100px;
    position: absolute;
    left: -130px;
    bottom: -20px;
	
	&.cs-arrow {
		transform: rotate(72deg);
		left: 0;
		
		&.top {
			bottom: auto;
    		top: -5rem;
		}
		
		&.bottom {
			bottom: -5rem;
		}
	}
	
	&.in-view {
		.st0 { animation: draw-line 800ms ease-out forwards; }
		.st1 { animation: opacity--in 100ms linear 700ms forwards; }
	}
	
	.st0 {
		stroke-dasharray: 80px;
		stroke-dashoffset: -80px;
	}
	
	.st1 {
		opacity: 0;
	}
}

.arrow-up {
	position: absolute;
	width: 25%;
    max-width: 400px;
    height: 70%;
    max-height: 326px;
    left: 70%;
    bottom: -10px;
	
	svg {
		position: absolute;
		width: 100%;
		height: auto;
		bottom: -10px;
	}
	
	+ .icon-list.alt {
		width: 80%;
	}
	
	&.in-view {
		.st0 { animation: draw-arrow-up 800ms ease-out forwards; }
		.st1 { animation: opacity--in 100ms linear 700ms forwards; }
	}
	
	.st0 {
		stroke-dasharray: 730px;
		stroke-dashoffset: 730px;
	}
	
	.st1 {
		opacity: 0;
	}
}

.chain {
	position: absolute;
	width: 13rem;
    height: 41rem;
    left: 72%;
    bottom: -9rem;
	
	+ .icon-list.alt {
		width: 80%;
	}
	
	&.in-view {
		.st0a { animation: draw-chain 500ms ease-out forwards; }
		.st1 { animation: draw-chain 500ms ease-out 500ms forwards; }
		.st0b { animation: draw-chain 500ms ease-out 1000ms forwards; }
		
		.st3a { animation: opacity--in 100ms linear 400ms forwards; }
		.st2 { animation: opacity--in 100ms linear 900ms forwards; }
		.st3b { animation: opacity--in 100ms linear 1400ms forwards; }
	}
	
	.st0 {
		stroke-dasharray: 530px;
		stroke-dashoffset: 530px;
	}
	
	.st1 {
		stroke-dasharray: 560px;
		stroke-dashoffset: 560px;
	}
	
	.st2, .st3 {
		opacity: 0;
	}
}

.pencil {
	width: 54%;
    position: absolute;
    left: -10px;
    top: 2rem;
	
	&.in-view {
		.pencil-path { animation: draw-line 1100ms ease-out forwards; }
		.pencil-shape { animation: opacity--in 100ms linear 1000ms forwards; }
	}
	
	.pencil-shape {
		opacity: 0;
	}
	
	.pencil-path {
		stroke-dasharray: 850px;
		stroke-dashoffset: 850px;
	}
}

.page-consultancy,
.page-new-product-launches,
.page-business-channel-development,
.single-custom_type {
	.arrow4:not(.cs-arrow) .st0,
	.arrow3 .st1,
	.arrow2 .st1,
	.arrow1 .st0 {
		stroke: $blue;
	}
	
	.arrow4:not(.cs-arrow) .st1,
	.arrow3 .st0,
	.arrow2 .st0,
	.arrow1 .st1 {
		fill: $alt-blue;
	}
}

.haggis-wrapper {
	position: relative;
	
	.centered-list {
		position: absolute;
		width: 40%;
		top: 13rem;
    	left: 34%;
		
		li {
			width: 50%;
			margin: 1.5rem 0;
			
			&:first-child {
				width: 100%;
			}
			
			&:last-child {
				width: 100%;
			}
			
			.page-our-services & {
				width: 100%;
				margin: 0.75rem 0;
			}
		}
	}
	
	svg {
		width: 100%;
	}
	
	&.in-view {
		.cls-3 { animation: draw-line 1500ms ease-out forwards; }
		.cls-4 { animation: opacity--in 200ms linear 1400ms forwards; }
	}
	
	.cls-3 {
		stroke-dasharray: 2601px;
		stroke-dashoffset: -2601px;
	}
}

.bcd {
	position: relative;
	
	svg {
		position: absolute;
		z-index: 10;
	}
	
	&.in-view {
		.st1, .cls-4 { animation: draw-line 800ms ease-out forwards; }
		.st0, .cls-3 { animation: opacity--in 100ms linear 700ms forwards; }
	}
	
	.st1, .cls-4 {
		stroke-dasharray: 210px;
		stroke-dashoffset: 210px;
	}
	
	.st0, .cls-3 {
		opacity: 0;
	}
}

.bcd1, .bcd3 {
	svg {
		width: 8rem;
		bottom: -6.5rem;
		left: -4rem;
	}
}

.bcd2 {
	svg {
		width: 12rem;
		bottom: -11rem;
		right: -5rem;
	}
	
	.st1, .cls-4 {
		stroke-dasharray: 370px;
		stroke-dashoffset: 370px;
	}
}

.bcd3 {
	svg {
		transform: rotate(26deg);
	}
}