/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Button Styles

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS

Quick video guide:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
	display: block;
	position: relative;
	text-decoration: none;
	color: $white;
	border: 2px solid $gray;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	background-color: $gray;
	font-size: 1.4rem;
	line-height: 1;
	font-weight: 800;
	padding: 0.95rem 2rem;
	margin: 0.85rem auto;
	cursor: pointer;
	width: 40rem;
	max-width: 100%;
    text-align: center;
	clear: both;
	outline: none;
	@include transition(all 0.2s ease-in-out);
	
	@media only screen and (max-width: 767px) {
		font-size: 1.2rem;
		line-height: 1.3;
	}

	// hovering on the btn
	&:hover, &:focus {
		color: $white;
		text-decoration: none;
		
		&:after {
			left: 12px;
		}
	} // end hover

	// clicking on the button
	&:active {
		top: 1px;
	} // end active
	
	a {
		color: inherit !important;
		text-decoration: inherit !important;
	}
	
	&:after {
		content: '';
		position: relative;
		top: 1px;
		left: 4px;
    	border: solid $white;
		border-width: 0 4px 4px 0;
		display: inline-block;
		padding: 7px;
		transform: rotate(-45deg);
		@include transition(all 0.2s ease-in-out);
		
		@media only screen and (max-width: 767px) {
			border-width: 0 2px 2px 0;
			padding: 5px;
		}
	}

} // end .button

.primary-btn, a.primary-btn {
	@extend %btn; // here we load the btn defaults
	background-color: $orange;
	border-color: $orange;
	color: $white;

	&:hover,
	&:focus {
		background-color: $alt-orange;
		color: $white;
		border-color: $alt-orange;
		
		&:after {
			border-color: $white;
			left: 12px;
		}
	}
}

.alt-btn, a.alt-btn {
	@extend %btn; // here we load the btn defaults
	background-color: $orange;
	border-color: $orange;
	color: $white;

	&:hover,
	&:focus {
		background-color: $white;
		border-color: $white;
		color: $orange;
		
		&:after {
			border-color: $orange;
		}
	}
}

.alt1-btn, a.alt1-btn {
	@extend %btn; // here we load the btn defaults
	background-color: $alt-blue;
	border-color: $alt-blue;
	color: $white;

	&:hover,
	&:focus {
		background-color: $white;
		border-color: $white;
		color: $alt-blue;
		
		&:after {
			border-color: $alt-blue;
		}
	}
}

.alt2-btn, a.alt2-btn {
	@extend %btn; // here we load the btn defaults
	background-color: $alt-blue;
	border-color: $alt-blue;
	color: $white;

	&:hover,
	&:focus {
		background-color: $blue;
		border-color: $blue;
		color: $white;
		
		&:after {
			border-color: $white;
		}
	}
}