/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Desktop Stylsheet

******************************************************************/

h1, .h1 {
	font-size: 2.85rem;
}

h2, .h2 {
	font-size: 2.15rem;
}

h3, .h3 {
	font-size: 1.75rem;
}

h4, .h4 {
	font-size: 1.7rem;
}

h5, .h5 {
	font-size: 1.2rem;
}

p {
	font-size: 1rem;
}

#content {
	padding-top: 90px;
}

.wrap {
  max-width: 1020px;
}

.row {
	padding: 3rem 5rem;
	
	h3 {
		font-size: 1.35rem;
	}
}

.pre-footer {
	padding: 12rem 5rem 5rem;
}

#logo {
	width: 150px;
	background-size: 39px !important;
}

.nav {
	> li {
		ul.sub-menu,
		ul.children {
			margin: 0 0 0 -180px;
			width: 360px;
			top: 90px;
		}
	}
}

.case-studies {
	.col-4 {
		width: 33%;
	}
}

.centered-list {
	li {
		margin-bottom: 0;
	}
}

.quote {
	&.quote-xl {
		p {
			font-size: 2.25rem;
		}
	}
}

.circle-el {
	h3 {
		font-size: 2.35rem;
	}
	
	img {
		width: 9rem;
	}
}