/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Super Large Monitor Stylesheet

******************************************************************/

html {
	font-size: 100%;
}

.wrap {
  width: 1200px;
}

.max-width {
	width: 1300px;
	margin: auto;
}