/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Base Mobile Stylesheet

******************************************************************/

/*********************
GENERAL STYLES
*********************/

html {
	font-size: 76%;
}

body {
	font-family: $sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: $text-color;
	background-color: $white;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

#container {
	overflow: hidden;
}

img {
	height: auto;
	pointer-events: none;
	
	&.size-full {
		max-width: 100%;
	}
	
	&.alignleft {
		float: left;
	}
	
	&.alignright {
		float: right;
	}
}

.arrow {
	display: none;
}

.ribbon {
	position: relative;
	background: $orange;
	
	svg {
		width: 100%;
	}
	
	&.in-view {
		.ribbon-path { animation: draw-line 1500ms ease-out forwards; }
		.ribbon-shape { animation: opacity--in 200ms linear 1300ms forwards; }
	}
	
	.widget_text {
		position: absolute;
		left: 3rem;
		top: 3rem;
		margin: 0;
		width: 80%;
		
		p, a {
			color: $white;
			font-size: 1.5rem;
		}
		
		p {
			margin: 0;
			line-height: 1.3;
		}
		
		a {
			font-weight: 800;
			color: $gray;
			text-decoration: none;
			
			&:hover,
			&:focus {
				&:after {
					border-color: $blue;
					left: 12px;
				}
			}
			
			&:after {
				content: '';
				position: relative;
				top: 1px;
				left: 4px;
				border: solid lighten($blue, 10%);
				border-width: 0 6px 6px 0;
				display: inline-block;
				padding: 11px;
				transform: rotate(-45deg);
				@include transition(all 0.2s ease-in-out);
			}
		}
	}
}
.ribbon-path {
	stroke-dasharray: 1690;
	stroke-dashoffset: 1690;
}

.ribbon-shape, .haggis-wrapper .cls-4 {
	opacity: 0;
}

@include keyframes(draw-line) {
	to {
		stroke-dashoffset: 0;
	}
}
@include keyframes(opacity--in) {
	to {
		opacity: 1;
	}
}
@include keyframes(opacity--out) {
	to {
		opacity: 0;
	}
}

/********************
WORDPRESS BODY CLASSES
********************/

.blog {
	background: $light-gray;
	
	.entry-title {
		line-height: 1;
		font-size: 1rem;
		height: 2rem;
		margin-top: 0.5em;
		
		a {
			color: lighten($black, 20%);
			font-size: 1.3rem;
			
			&:hover, &:focus {
				color: lighten($black, 40%);
			}
		}
	}
	
	.posts-main {
		position: relative;
		margin-bottom: 2rem;
		
		.post {
			padding: 0.5rem;
			float: none;
		}

		img {
			max-width: 100%;
		}
		
		.post-item {
			padding: 1rem 1rem 1.5rem;
			background: $white;
			
			h3 {
				margin: 1rem 0 0 0;
				font-size: 1.5rem;
			}

			p {
				font-size: 1.25rem;
				margin: 0;

				&.meta {
					color: $orange;
				}
			}
		}
	}
	
	.image-thumb {
		display: block;
	}
}

.posts-featured {
	margin: 2rem 0 0 0;
	
	img {
		max-width: 100%;
		height: auto;
	}
	
	.post-item {
		padding: 0 0 2rem 0;
		background: $white;
		border-bottom-right-radius: 60px;
		
		h2 {
			margin: 2rem 2rem 0;
			font-size: 1.5rem;
		}
		
		p {
			margin: 0 2rem;
			width: 80%;
			
			&.meta {
				color: $orange;
			}
		}
	}
}

.archive:not(.post-type-archive-custom_type) {
	@extend .blog;
}

.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */

.single {
	.wrap.post {
		max-width: 95%;
	}
}

//.blog, .archive, .single {
//}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 100%;
	margin: 0 auto;
}

.row {
	position: relative;
	padding: 3rem 0;
	background: $white;
	
	.entry-content {
		padding-top: 0;
		padding-bottom: 0;
	}
	
	.primary-btn {
		margin: 3rem auto;
	}
	
	&.curved {
		border-bottom-right-radius: 60px;
		z-index: 4;
		overflow: hidden;
		
		.postid-139 & {
			overflow: visible;
		}
		
		& + section {
			margin-top: -60px;
			z-index: 2;
			
			.entry-content {
				margin-top: 60px;
			}
		}
		
		& + .curved {
			z-index: 3;
		}
		
		& + .curved + .curved {
			z-index: 2;
		}
	}
	
	&.blog-highlights {
		background: $light-gray;
		padding-bottom: 0;
		
		.primary-btn {
			margin-top: 5rem;
			margin-bottom: 2rem;
		}
	
		.entry-content {
			padding-top: 2rem;
			padding-bottom: 3rem;
			max-width: 1030px;
		}
		
		.post-item {
			border-bottom: 1px solid lighten($gray, 40%);
			padding: 0 10px 20px;
			margin-bottom: 20px;
			
			&:last-child {
				border-bottom: none;
				padding-bottom: 0;
				margin-bottom: 0;
			}
		}
		
		.post-thumb {
			width: 100%;
			font-size: 0;
			
			img {
				margin: 0;
			}
		}
		
		.post-details {
			margin-top: 1rem;
			width: 100%;
			
			.post-title {
				font-size: 1.5rem;
				text-decoration: none;
			}
			
			p {
				margin: 0;
				font-size: 1.3rem;
				
				&.date {
					color: $orange;
				}
			}
		}
	}
	
	h2 {
		padding-left: 10px;
	}
	
	[class*="col-"] {
		h2 {
			padding-left: 0;
		}
	}
	
	h3 {
		font-size: 1.8rem;
	}
	
	&.contact-us {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
		background: $orange;
		
		.col-8 {
			padding-left: 0;
			padding-bottom: 0;
			padding-right: 0;
		}
		
		.col-4 {
			padding: 3rem;
			
			h2, p {
				color: $white;
			}
		}
	}
}

.acf-map {
	padding: 10px 0 70% 0;
    position: relative;
	
	> div {
		position: absolute;
		width: 100%;
		height: 100%;
	}
}

.case-studies {
	background: $light-gray;
	
	.case-study {
		font-size: 0;
		
		&:nth-child(even) {
			.post-thumb {
				float: right;
			}
			
			.post-description {
				float: left;
			}
		}
	}
	
	&.featured {
		padding-top: 0 !important;
		padding-bottom: 0;
		background: $white;
		
		.post-description {
			color: $white;
			padding: 2rem;
			
			p, a {
				font-size: 1.5rem;
				margin-top: 1.5rem;
			}
		}

		.post-thumb {
			padding: 0;
			
			img {
				width: 100%;
				height: auto;
			}
		}
		
		.read-more {
			font-weight: 800;
			color: $white;
			text-decoration: none;
			
			&:hover,
			&:focus {
				&:after {
					border-color: $white;
					left: 12px;
				}
			} // end hover// end active
			
			&:after {
				content: '';
				position: relative;
				top: 1px;
				left: 4px;
				border: solid lighten($orange, 10%);
				border-width: 0 4px 4px 0;
				display: inline-block;
				padding: 7px;
				transform: rotate(-45deg);
				@include transition(all 0.2s ease-in-out);
			}
		}
	}
	
	img {
		max-width: 100%;
	}
	
	.cs-logo {
		display: block;
		
		img {
			max-height: 130px;
			max-width: 75%;
		}
	}
	
	.more {
		font-weight: 400;
		font-size: 3rem;
		margin: 0 20px 1rem;
	}
	
	.col-4 {
		padding: 20px;
	}
	
	.post-item {
		background: $white;
		padding: 0 0 1.75rem 0;
		border-bottom-right-radius: 60px;
		@include transition(background 0.2s ease-in-out);
		
		h3 {
			margin: .5rem 0 0 1rem;
			
			a {
				color: $orange;
				
				&:hover, &:focus {
					color: $gray;
				}
			}
		}
		
		p {
			margin: .5rem 0 0 1rem;
			min-height: 5rem;
		}
		
		h3 a, p {
			@include transition(color 0.2s ease-in-out);
		}
		
		&:hover, &:focus {
			background: $orange;
			
			h3 a, p {
				color: $white;
			}
		}
	}
}

.custom_type {
	.cta {
		margin: 3rem auto;
	}
}

.cs-row {
	&.odd {
		background: $light-gray;
	}
	
	&.even {
		
	}
	
	.col-6 {
		padding: 1.5rem;
		
		&:last-child {
			p, img {
				margin-bottom: 0;
			}
		}
	}
}

.quote {
	&.quote-xl {
		background: $alt-blue;
		color: $white;
		border-bottom-right-radius: 60px;
		border-top-left-radius: 60px;
		padding: 3.5rem;
		
		p {
			font-weight: 800;
			font-size: 1.5rem;
			line-height: 1.35;
			padding-right: 1rem;
		}
		
		span {
			display: block;
		}
		
		.xl {
			font-size: 470%;
			line-height: 0.9;
			text-indent: -9px;
		}
		
		.name {
			font-weight: normal;
			font-size: 72.5%;
    		margin-top: 2.5rem;
		}
		
		&.quote-arrow {
			background: $alt-blue url(../images/icon-arrow-01.png) no-repeat left bottom;
			background-size: 90%;
    		padding-bottom: 40%;
		}
	}
}

.filter-wrapper {
	position: relative;
	margin: 2rem auto;
    text-align: center;
	
	li {
		display: inline-block;
		margin: 0 6px 2rem;
		
		a {
			padding: 0.5rem 1rem;
			background: $white;
			
			&.active {
				background: $orange;
				color: $white;
			}
		}
	}
}

.page-template-page-quiz {
	h1 {
		font-weight: normal;
		font-size: 2.75rem;
		
		strong, b {
			font-weight: 900;
		}
	}
	
	
	h1, h2 {
		color: $white;
	}
	
	h2 {
		span {
			display: none;
		}
	}
	
	&.page-are-we-right-for-you-2 h2 span {
		display: block !important;
		font-size: 50%;
	}
	
	.entry-content {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 100%;
		left: 100%;
		text-align: center;
		z-index: 2;
		visibility: hidden;
		@include transition(all 1s ease-in-out);
		
		&.active {
			left: 0%;
			z-index: 10;
			visibility: visible;
		}
	}
}

.page-template-page-quiz .page {
	position: relative;
	height: calc(100vh - 112px);
}

.quiz-start {
	background: $gray;
	overflow: hidden;
	
	.quiz-next {
		margin-top: 6rem;
	}
}

.quiz {
	background: $alt-blue;
	
	.quiz-next {
		visibility: hidden;
		position: fixed;
		font-size: 1.5rem;
		width: 8rem;
		padding-top: 4rem;
		bottom: 0rem;
		right: 3rem;
		opacity: 0;
		border: none;
		background: url(../images/arrow-next.png) no-repeat center top;
		background-size: contain;
		color: $white;
		font-weight: bold;
		@include transition(all 0.3s ease-in-out);

		&.active {
			visibility: visible;
			opacity: 1;
			bottom: 3rem;
		}
		
		.page-are-we-right-for-you-2 & {
			display: none !important;
		}
	}
	
	&:nth-child(odd) {
		background: $blue;
		
		.quiz-option {
			background-color: $alt-blue;
			border-color: $alt-blue;
			
			:hover,
			&:focus {
				background-color: darken($alt-blue, 10%);
				border-color: darken($alt-blue, 10%);
			}
		}
	}
}

.quiz-end {
	background: $orange;
	
	.social {
		position: relative;
		right: auto;
		top: auto;
		margin-top: 3rem;
		
		p, a {
			display: inline-block;
		}
		
		p {
			font-weight: bold;
			font-size: 1.5rem;
			color: $white;
			margin: 0;
		}
		
		a {
			margin-left: 2px;
			
			i {
				width: 35px;
				height: 35px;
				line-height: 35px;
				font-size: 29px;

				&.fa-twitter {
					font-size: 30px;
					line-height: 35px;
				}

				&:hover, &:focus {
					background: $alt-blue;
				}
			}
		}
	}
}

.quiz-options {
	max-width: 25rem;
	margin: 4rem auto;
	
	.quiz-option {
		max-width: 100%;
		background-color: $blue;
		border-color: $blue;
		padding-left: 10px;
    	padding-right: 10px;
		
		&:not([disabled]) {
			&:hover,
			&:focus {
				background-color: darken($blue, 10%);
				border-color: darken($blue, 10%);
			}
		}
		
		&:after {
			display: none;
		}
		
		&.selected {
			background-color: $orange;
			border-color: $orange;
		}
	}
}

.progress-bar {
	display: none;
	position: fixed;
    width: 100%;
    height: 14px;
    bottom: 0;
    left: 0;
    background: $alt-orange;
    z-index: 30;
	
	.fill {
		position: absolute;
		width: 0%;
		height: 100%;
		background: $orange;
		left: 0;
		top: 0;
		@include transition(all 0.3s ease-in-out);
	}
	
	.marker {
		position: absolute;
		width: 6px;
		height: 14px;
		margin-left: -3px;
		background: $alt-blue;
		@include transition(all 1s ease-in-out);
		
		&.odd {
			background: $blue;
		}
	}
}

.outcomes {
	margin-bottom: 5rem;
	
	li {
		color: $gray;
		margin-bottom: 2.5rem !important;
		
		&.selected {
			color: $white;
		}
		
		h3 {
			font-size: 2.25rem;
			margin: 0;
		}
	}
}

/*********************
LINK STYLES
*********************/

a {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5, P STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	line-height: 1.2;
	
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 3.2rem;
	line-height: 1.2;
	margin-top: 0;
}

h2, .h2 {
	font-size: 2.7rem;
	margin: .35rem 0 .5rem;
	color: $orange;
	font-weight: 800;
}

h3, .h3 {
	font-size: 1.9rem;
	margin: 0 0 1rem;
}

h4, .h4 {
	font-size: 1.95rem;
	
	strong, b {
		font-weight: 900;
	}
}

h5, .h5 {
	font-size: 1.2rem;
}

p {
	line-height: 1.5;
	font-size: 1.15rem;
	margin: 0.85rem 0 1.2rem;
}

.narrow-para {
	max-width: 80%;
	margin-left: auto !important;
	margin-right: auto !important;
}

.nowrap {
	white-space: nowrap;
	color: inherit;
	font-weight: inherit;
}

/*********************
HEADER STYLES
*********************/

.header {
	position: fixed;
	background-color: $white;
	font-size: 0;
	width: 100%;
	z-index: 999;
	
	&.active {
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 999;
		
		.primary-nav {
			max-height: 1000px;
			max-height: 100vh;
		}
		
		.menu-button {
			position: absolute;
			z-index: 9999;
			left: 0;
			right: 0;
			left: auto;
			background-position: -30px 0;
		}
	}
}

#logo {
	display: block;
	width: 10rem;
	height: 100%;
    margin: 0.75rem 1.25rem;
    float: left;
    font-size: 0;
	@include transition(all 0.2s ease-in-out);
	
	img {
		position: relative;
		height: auto;
		max-width: 100%;
		opacity: 1;
		visibility: visible;
		@include transition(all 0.2s ease-in-out);
	}

	a {
		color: $black;
	}
}

.social {
	@include transition(top 0.2s ease-in-out);
	
	a {
		display: inline-block;
		margin-left: 1rem;
		
		i {
			width: 25px;
			height: 25px;
			line-height: 25px;
			text-align: center;
			font-size: 21px;
			color: $white;
			background: $blue;
			@include transition(background 0.2s ease-in-out);
			
			&.fa-twitter {
				font-size: 18px;
				line-height: 26px;
			}
			
			&:hover, &:active {
				background: $orange;
			}
		}
	}
}

/*********************
NAVIGATION STYLES
*********************/

.menu-button {
	color: $green !important;
	float: right;
	margin: 1.8rem 1.25rem 1.4rem;
	line-height: 1;
    font-size: 2.4rem;
	background-image: url(../images/menu-button.png);
	background-repeat: no-repeat;
	background-size: 60px;
	background-position: 0 0;
	width: 30px;
	height: 24px;
	@include transition(all 0.3s ease-in-out);
}

nav {
	
	li {
		text-align: center;
		
		a, a:visited {
			font-size: 1.25rem;
			line-height: 1;
			text-decoration: none;
			color: $link-color;
			font-weight: 800;
			
			@media only screen and (min-width: 768px) and (max-width: 1029px) {
				font-size: 1rem;
			}
		}
		
		&.current-menu-item,
		&.current_page_item,
		&.current_page_ancestor {
			> a {
				color: $orange;
			}
		}
	}
}

.primary-nav {
	position: fixed;
	top: 66px;
	margin: 0 auto;
	text-align: center;
	max-height: 0px;
	max-height: 0vh;
    overflow: hidden;
	width: 100%;
	height: 100%;
	background: $white;
	@include transition(max-height 0.2s ease-in-out);
	
	.social {
		text-align: left;
    	padding: 2rem 1.2rem;
		background: $light-gray;
		
		a i {
			background: $orange;
		}
	}
}

.nav {
	border-bottom: 0;
	margin: 1.65em 0;
	background: $light-gray;

	> li {
		list-style: none;
		border-bottom: 1px solid $gray;

		> a {
			position: relative;
			display: block;
			text-decoration: none;
			padding: 1.9rem 1.75em;
			text-align: left;
			@include transition(all 0.2s ease-in-out);
		}
		
		&.menu-item-has-children {
			> a {
				&:after {
					content: '';
					position: absolute;
					width: 0; 
					height: 0;
					top: 2.1rem;
    				right: 2rem;
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
					border-top: 8px solid $gray;
				}
				
				&.active:after {
					transform: rotate(180deg);
				}
			}
		}

		&:first-child {}

		&:last-child {}
		
		ul.sub-menu,
		ul.children {
			overflow: hidden;
			background: darken($light-gray, 15%);
			margin: 0;
			padding: 0;
			z-index: 10;
			max-height: 0;
			@include transition(max-height 0.2s ease-in-out);
			
			&.active {
				max-height: 550px;
			}

			li {
				border-top: 1px solid $gray;

				a {
					display: block;
					padding: 1.9rem 1.75em;
					outline:0;
					text-align: left;
					
					&:hover,
					&:focus {						
						text-decoration:none;
						opacity:0.8;
					}

					&:link {}

				}

				&:first-child {}

				&:last-child {
					a {
						padding-bottom: 25px;
					}
				}

			}
		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

}


/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	position: relative;
	padding-top: 67px;
	@include transition(padding-top 0.2s ease-in-out);
}

.lds-ellipsis {
	display: none;
	position: absolute;
    width: 64px;
    height: 11px;
    left: 50%;
    bottom: -35px;
    margin-left: -32px;
	
	&.loading {
		display: inline-block;
	}
	
	div {
		position: absolute;
		top: 0;
		width: 11px;
		height: 11px;
		border-radius: 50%;
		background: $orange;
		@include prefix(transform, rotate(45deg), webkit moz);
		animation-timing-function: cubic-bezier(0, 1, 1, 0);
		
		&:nth-child(1) {
			left: 6px;
			animation: lds-ellipsis1 0.6s infinite;
		}
		
		&:nth-child(2) {
			left: 6px;
			animation: lds-ellipsis2 0.6s infinite;
		}
		
		&:nth-child(3) {
			left: 26px;
			animation: lds-ellipsis2 0.6s infinite;
		}
		
		&:nth-child(4) {
			left: 45px;
			animation: lds-ellipsis3 0.6s infinite;
		}
	}
}

@include keyframes(lds-ellipsis1) {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@include keyframes(lds-ellipsis3) {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@include keyframes(lds-ellipsis2) {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(19px, 0);
	}
}

.grid-sizer {
	width: 33.33%;
}

.featured-image {
	position: relative;
	border-top-left-radius: 60px;
	border-bottom-right-radius: 60px;
	overflow: hidden;
	font-size: 0;
}

.page-title {
	position: absolute;
	bottom: 0;
	left: -100px;
	opacity: 0;
	padding: 2rem;
	width: 100%;
	@include transition(all 1s ease-in-out);
	z-index: 100;
	
	&.right {
		left: auto !important;
		right: -100px;
		
		h1, h2, h3, h4, h5, p {
			text-align: right;
			
			#sample_slider_slide01 & {
				@media only screen and (max-width: 767px) {
					text-align: left;
				}
			}
		}
	}
	
	&.bottom {
		top: auto !important;
		bottom: 0;
	}
	
	&.alt {
		h1, h2, h3, h4, h5, p {
			color: $gray;
			
			#sample_slider_slide03 & {
				@media only screen and (max-width: 767px) {
					color: $white;
				}
			}
		}
	}

	h1 {
		margin: 0;
		font-size: 3rem;
		font-weight: 800;

		strong, b {
			font-weight: 900;
		}
	}

	p {
		font-size: 1.8rem;
		line-height: 1.3;
		margin: 0;
	}

	h1, h2, h3, h4, h5, p {
		color: $white;
	}
	
	.owl-item.active & {
		left: 0;
		opacity: 1;
		
		&.right {
			right: 0;
		}
	}
}

#sample_slider {
	.sa_hover_container {
		@media only screen and (max-width: 767px) {
			min-height: 400px !important;
		}
	}
	
	.owl-stage-outer {
		border-bottom-right-radius: 60px;
		overflow: hidden;
	
		.owl-item {
			overflow: hidden;
		}
	}
	
	.owl-dots {
		bottom: -40px !important;
		
		.owl-dot {
			outline: none;
			
			&.active span, span:hover {
				background: $orange !important;
			}
			
			span {
				width: 12px !important;
				height: 12px !important;
				margin: 0 8px !important;
			}
		}
	}
}

.icon-list {
	font-size: 0;
	text-align: center;
	margin: 2rem 0 4rem;
	
	li {
		display: inline-block;
		width: 100%;
		font-size: 2rem;
		font-weight: 800;
		text-align: center;
		line-height: 1.3;
		margin-bottom: 2rem;
		
		.entry-content & {
			font-size: 2rem !important;
		}
	}
	
	img {
		position: relative;
		@media only screen and (max-width: 480px) { max-width: 55%; }
		bottom: -30px;
		padding: 2rem;
		margin-bottom: 0 !important;
		opacity: 0;
		@include transition(all 0.6s ease-in-out);
		
		&.in-view {
			bottom: 0;
			opacity: 1;
		}
	}
	
	&.left-align {
		li {
			vertical-align: top;
			text-align: left;
			
			img {
				display: block;
				margin: auto;
				max-height: 200px;
				width: auto;
				
				@media only screen and (min-width: 768px) and (max-width: 1029px) {
					max-height: 160px;
				}
			}
			
			span {
				display: block;
				font-size: 1.35rem;
				margin-right: 1.5rem;
				font-weight: 400;
			}
			
			b, strong {
				font-size: 2rem;
			}
		}
	}
	
	&.alt {
		text-align: left;
		margin-bottom: 0;
		
		li {
			width: 100%;
			font-size: 1.5rem !important;
			font-weight: normal;
			text-align: left;
			margin-bottom: 1rem;
			text-indent: -2.6rem;
    		padding-left: 2rem;
			vertical-align: top;
			
			&:before {
				content: '';
				position: relative;
				top: 0;
				left: 4px;
				border: solid $white;
				border-width: 0 4px 4px 0;
				display: inline-block;
				padding: 5px;
				margin-right: 17px;
				transform: rotate(-45deg);
			}
		}
		
		&.copy {
			li {
				width: 100%;
				font-size: 1.35rem;
			}
			
			&.dark li {
				&:before {
					border-color: $gray;
				}
			}
			
			&.light li {
				&:before {
					border-color: $white;
				}
			}
		}
	}
}

.thumbs-list {
	font-size: 0;
	text-align: center;
	margin: 2rem 0;
	
	li {
		display: inline-block;
		width: 100%;
		text-align: left;
		font-weight: 400;
		font-size: 1.5rem !important;
		margin-bottom: 2.5rem !important;
	}
	
	img {
		padding: 0;
		display: block;
		margin-bottom: 1rem !important;
	}
}

.centered-list {
	font-size: 0;
	text-align: center;
	margin: 2rem 0;
	position: relative;
	z-index: 50;
	
	li {
		display: inline-block;
		font-size: 2rem;
		padding-right: 0 !important;
		width: 100%;
		text-align: center;
		margin-bottom: 2rem;
	}
}

.quarter-list {
	width: 80%;
    margin: 0 auto 3rem;
    font-size: 0;
	
	li {
		width: 25%;
		display: inline-block;
		font-size: 1.35rem;
		vertical-align: top;
	}
}

.circle-el {
	position: relative;
	width: 100%;
	height: 0;
	padding: 28% 0 72%;
	border-radius: 50%;
	background: url(../images/circle.png) no-repeat center top;
	background-size: 100% !important;
	text-align: center;
	line-height: 1.35;
	
	+ div {
		margin-top: -23%;
    	background:  url(../images/circle-curve.png) no-repeat center top, url(../images/circle.png) no-repeat center top;
	}
	
	h2 {
		position: absolute;
    	color: $white;
		width: 100%;
		text-align: center;
		top: 7%;
		font-size: 1.5rem;
	}
	
	h3 {
		color: $gray;
		font-size: 1.5rem;
		margin: 0 0 1rem 0;
	}
	
	ul {
		font-size: 0;
		width: 90%;
		margin: auto;
		text-align: center;
		
		li {
			display: inline-block;
			width: 25%;
			font-size: 0.8rem !important;
			padding: 0;
			color: $white;
			font-weight: bold;
			vertical-align: top;
		}
	}
	
	p {
		.entry-content & {
			margin: 0;
		}
	}
	
	img {
		@media only screen and (max-width: 767px) {
			width: 5rem;
		}
	}
	
	.diagram {
		width: 70%;
		margin: auto;
	}
}

.hentry {
} /* end .hentry */

.single-title,
.entry-title {
	margin: 0;
}

/* post meta */
.byline {
	color: $orange;
	margin: 0;

	time {}
}

.post-item {
	padding: 10px;
	
	.post-thumb {
		display: block;
	}
	
	img {
		max-width: 100%;
		width: 100%;
	}
}

.archive-title, .single-title {
	text-align: center;
	color: $gray;
	margin-bottom: 2rem;
}

/* entry content */
.entry-content {
	position: static;
	padding: 4rem 2rem;
	
	&.max-width {
		padding-top: 0;
		padding-bottom: 0;
	}
	
	.home &.top-row {
		p {
			font-size: 1.85rem;
		}
	}
	
	.page-our-core-team &.top-row {
		padding-bottom: 0;
	}

	h2 {
		margin-bottom: 1rem;
	}

	p {
		font-size: 1.5rem;
		margin: 0 0 1.5em;
		
		&.fw900 {
			margin-bottom: 0.8rem;
			
			b, strong {
				font-weight: 900;
			}
		}
		
		img {
			margin: 0;
		}
		
		&:last-child {
			margin-bottom: 0.5em;
		}
		
		strong, b {
			font-size: 115%;
		}
	}

	ul, ol, table, dl {}

	ul:not(.centered-list):not(.icon-list), ol {
		font-size: 0;
		
		.page-template-default & {
			list-style-type: disc;
    		padding-left: 1.5rem;
		}

		li {
			font-size: 1.5rem;
			margin-bottom: 1rem;
		}
		
		&.arrows {
			li {
				text-indent: -2.5rem;
    			padding-left: 2rem;
				
				&:before {
					content: '';
					position: relative;
					top: 0;
					left: 4px;
					border: solid #fff;
					border-width: 0 4px 4px 0;
					display: inline-block;
					padding: 5px;
					margin-right: 17px;
					transform: rotate(-45deg);
				}
			}
		}

	}

	ul {

		li {
			
		}

	}

	ol {
		list-style-type: decimal;
		padding-left: 1.35rem;

		li {}

	}

	table {
		width: 100%;
		border: 1px solid $gray;
		margin-bottom: 1.5em;

		caption {
			margin: 0 0 7px;
			font-size: 0.75em;
			color: $meta-gray;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}

	tr {
		border-bottom: 1px solid $gray;

		&:nth-child(even) {
			background-color: $light-gray;
		}
	}

	td {
		padding: 7px;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	th {
		background-color: $light-gray;
		border-bottom: 1px solid $gray;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	blockquote {
		color: $white;
		position: relative;
		margin: 0;
		padding: 0 1rem 0 4rem;

		&:before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			display: block;
			width: 3rem;
			height: 3rem;
			background: url(../images/icon-quotes.png) no-repeat 0 0;
			background-size: contain;
		}
		
		p {
			font-size: 1rem;
		}

	}

	dl {}

	dt {}

	dd {
		margin-left: 0;
		font-size: 0.9em;
		color: #787878;
		margin-bottom: 1.5em;
	}

	img {
		margin: 0 0 1.5em 0;
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft {}
	.alignright, img.alignright {}
	.aligncenter, img.aligncenter {}

	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}

	pre {
		background: $black;
		color: $light-gray;
		font-size: 0.9em;
		padding: 1.5em;
		margin: 0 0 1.5em;
		border-radius: 3px;
	}
}

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	/* images inside wp-caption */
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}

} /* end .wp-caption */

// the tag output
.tags {
	margin: 0;
	color: $black;
	
	a {
		color: lighten($black, 40%);
		text-decoration: none;
	}
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination {
 		text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
		
		&:last-child {
			border: none;
		}
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $green;

      &:hover, &:focus {
      	background-color: $green;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $white;
		background-color: $green;
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0 0.5rem;
	margin: 1.5rem 0 0;
	line-height: 1.3;
	border-bottom: 1px solid $pale-green;

}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5rem 10px;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: lighten($black, 40%);
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}

		}

		.avatar {
			position: absolute;
			left: 10px;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 15px 0 15px 7px;
	}
}

/* comment content */
.comment_content {

	p {
		margin: 0.7335em 0 1.5em;
		font-size: 1em;
		line-height: 1.5em;
	}

} /* end .commentlist .comment_content */

/* comment reply link */
a.comment-reply-link {
	@extend .primary-btn;
	font-size: 0.9rem;
	float: right;
	padding: 0.3rem 0;
	min-width: 5rem;

	&:hover,
	&:focus {
	}

} /* end .commentlist .comment-reply-link */

/* edit comment link */
.comment-edit-link {
	font-style: italic;
	margin: 0 7px;
	text-decoration: none;
	font-size: 0.9em;
}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5rem 0;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .primary-btn;
		float: right;
		font-size: 0.9rem;
		padding: 0.3rem 0;
		min-width: 8rem;
		margin-right: 0;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin: 0;
	
	.widget_custom-twitter-feeds-widget {
		margin: 0;
		
		#ctf {
			.ctf-screename-sep {
				display: none;
			}
			
			&.ctf-styles .ctf-author-screenname,
			&.ctf-styles .ctf-context,
			&.ctf-styles .ctf-twitterlink, 
			&.ctf-styles .ctf-tweet-meta {
				font-size: 1rem;
				color: $orange !important;
			}
			
			.ctf-item {
				border-top: none;
			}
		}
		
		.widgettitle {
			margin: 0;
		}
	}
}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}

/*********************
FOOTER STYLES
*********************/

.pre-footer {
	border-bottom-right-radius: 60px;
	padding-top: 3rem;
    padding-bottom: 2rem;
	
	.home & {
		background: $light-gray;
	}
	
	h2 {
		font-weight: 900;
	}
	
	.wpcf7 {
		width: 75%;
		max-width: 800px;
		margin: auto;
	}
}

.footer-social {
	text-align: center;
	
	a {
		font-size: 0;
		color: transparent;
		
		i {
			font-size: 24px;
			line-height: 28px;
			color: $white;
			width: 30px;
			height: 30px;
			background: $blue;
			margin: 0 8px;
			
			&:hover, &:focus {
				background: $orange;
			}
			
			&.fa-twitter:before {
				font-size: 20px;
			}
		}
	}
}

.footer {
	clear: both;
	background: $gray;
	margin-top: -60px;
	padding: 2rem 1rem;
	
	a, p, li {
		color: $white;
	}
	
	.page-template-page-quiz &,
	.blog &,
	.page-cookie-policy &,
	.page-privacy-policy &,
	.page-terms-conditions & {
		margin-top: 0;
	}
}

#inner-footer {
	margin-top: 60px;
	
	.page-template-page-quiz &,
	.blog &,
	.page-cookie-policy &,
	.page-privacy-policy &,
	.page-terms-conditions & {
		margin-top: 0;
	}
}

.footer-links {
	clear: both;
	
	ul {
		text-align: left;
		margin: 0;
		border: none;
		text-align: center;
		list-style-type: none;
		background: none;

		li {
			display: inline-block;
			border: none;
			padding: 0 2px 0 0;
			
			&:before {
				content: "\007c";
				display: inline-block;
				margin-right: 5px;
				color: $orange;
			}
			
			a {
				display: inline-block;
				text-transform: none;
				padding: 0;
				margin: 0;
				font-size: 1rem;
				text-decoration: none;
				border: none;
			}
			
			&:first-child {
				a {
					margin-left: 0;
				}
				
				&:before {
					content: '';
					display: none;
				}
			}
		}

	}
} /* end .footer-links */


.copyright {
	float: none;
    font-size: 1.2rem;
    font-weight: 800;
    margin: 0;
    text-align: center;
}

.contact-details {
	text-align: center;
	margin: 1rem 0;
	
	a {
		font-size: 1.2rem;
		text-decoration: none;
		padding-left: 5px;
		
		&:hover, &:focus {
			color: $orange;
		}
		
		&:before {
			content: "\007c";
			display: inline-block;
			margin-right: 6px;
			color: $orange;
		}
		
		&:first-child:before {
			content: '';
			display: none;
		}
	}
}

.map-image {
	overflow: hidden;
	font-size: 0;
	
	img {
		width: 100%;
		height: auto;
	}
}


// OVERRIDES

.mb0 {
	margin-bottom: 0 !important;
}

.animate-element {
	position: relative;
	bottom: -30px;
	opacity: 0;
	@include transition(all 0.6s ease-in-out);

	&.in-view {
		bottom: 0;
		opacity: 1;
	}
}

.curve__bottom-right {
	border-bottom-right-radius: 60px;
}

a, a:focus, a:active, a:hover {
	outline:none !important;
	text-decoration:none !important;
}

.haggis-wrapper, .bcd {
	svg {
		@media only screen and (max-width: 1029px) {
			display: none;
		}
	}
}

.page-contact-us {
	.top-row + .curved {
		border-bottom-right-radius: 0;
		padding-bottom: 0;
	}
}